@using UMC_FORM.Ultils
@model  UMC_FORM.Models.Form_User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangePassword</title>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/font-awesome/all.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="@Url.ContentVersioned("~/Content/js/utils/account","js")"></script>
</head>
<body>
    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { id = "formChangePassword" }))
    {
        @Html.AntiForgeryToken()


        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Change Password</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <p class="text-center text-danger">Use the form below to change your password. Your password cannot be the same as your username.</p>


                    @if (ViewBag.MessageError != null)
                    {
                        <p class="text-danger font-weight-bold">@ViewBag.MessageError</p>

                    }
                    <input type="password" class="form-control form-pass" name="PASSWORD" id="pass" placeholder="New Password" autocomplete="off">

                    <br />
                    <input type="password" class=" form-control form-pass" name="password2" id="rePass" placeholder="Repeat Password" autocomplete="off" onkeyup="mathPassword()">

                    <div class="row m-1 mb-3">
                        <div id="match" class="d-none">
                            <i class="fas fa-check text-success"></i>

                            <span class="text-success font-weight-bold">  Passwords Match</span>
                        </div>
                        <div id="not-match" class="d-none">
                            <i class="fas fa-times text-danger"></i>
                            <span class="text-danger"> Passwords Not Match</span>
                        </div>

                    </div>
                    <input type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg" data-loading-text="Changing Password..." value="Change Password">

                </div>
            </div>
        </div>
    }

</body>
</html>
