
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Print</title>
    <link href="~/Content/css/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
            crossorigin="anonymous"></script>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <link href="~/Content/css/pdf.css" rel="stylesheet" />

    <style>
        table, td, th {
            border: 1px solid black;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        body, html {
            font-family: Arial;
            font-size: 9px !important;
        }

        .info-edit {
            width: 100%;
        }

        #rectangle {
            width: 60px;
            height: 20px;
            border: solid 1px;
            text-align: center;
        }

        .td2 {
            width: 250px;
        }
    </style>
</head>

<body class="container-fluid">

    <!--Form nhập request-->
    <div>
        <div class="row">

            <label class="col lang text-right"></label>
            <label class="col text-right font-weight-bold">ID :  @*@Model.TICKET.LCA_ID*@</label>
        </div>


        <div class="card-body border border-dark pt-1">
            <div class="row">
                <div class="info-edit">
                    <div class="row">
                        <div class="col-1">
                            <img src="/Content/assets/img/logo.png">
                        </div>
                        <div class="col-9" style="text-align:center">
                            <b style="font-size:18px;">
                                GIẤY ĐĂNG KÝ NGHỈ CÓ LƯƠNG<br /> (Nghỉ ưu đãi, nghỉ đặc biệt gửi GA trước 17h hôm sau)
                            </b>
                            <br />
                            <h2>慶弔休暇、リフレッシュ休暇</h2>
                        </div>
                        <div class="col-2">
                            <div id="rectangle">
                                <span style="font-size:12px;font-weight:bold;">
                                    <p style="margin-top:3px;">GA-35</p>
                                </span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-3">
                            <label class="font-weight-bold lang" key=""><b>Bộ phận đăng ký</b> &ensp; 部署</label>
                        </div>
                        <div class="col-9">

                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-3">
                            <label class="font-weight-bold lang" key=""><b>Ngày đăng ký</b> &ensp; 申請日</label>
                        </div>
                        <div class="col-9">

                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-3">
                            <label class="font-weight-bold lang" key=""><b>Số người đăng ký </b>&ensp; 人数</label>
                        </div>
                        <div class="col-9">

                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-12">
                            <span style="font-weight:bold;">
                                <p style="font-style:italic;">
                                    Giấy này được sử dụng cho nghỉ ưu đãi và nghỉ đặc biệt. Đối với các trường hợp nghỉ đặc biệt hãy đánh dấu √ vào cột "Nghỉ đặc biệt", ngoài ra sẽ được hiểu là nghỉ ưu đãi.
                                </p>
                            </span>

                        </div>
                    </div>
                    @if (ViewBag.listManager != null)
                    {
                        <br />
                        <div class="row">
                            <div class="col-3">
                                <label class="font-weight-bold lang" key="dept_manager">Name</label>
                            </div>
                            <div class="col-9">
                                <select class="custom-select" id="deptManager" name="deptManager">
                                    @foreach (var mng in ViewBag.listManager)
                                    {
                                        <option value="@mng.CODE">@mng.NAME</option>

                                    }
                                </select>
                            </div>
                        </div>
                    }

                    <div class="table-responsive">
                        <table class="table table-bordered">

                            <tr>
                                <th class="lang " key="" rowspan="2"><b>STT</b> <br />No. </th>
                                <th class="lang " rowspan="2" key=""><b>Họ tên</b> <br /> 氏名</th>
                                <th class="lang " rowspan="2" key=""><b>Mã số</b><br /> コード </th>
                                <th class="lang " colspan="3" key=""><b>Đăng ký ngày nghỉ</b><br /> 取得日 </th>
                                <th class="lang " rowspan="2" key=""><b>Lý do nghỉ</b><br />理由</th>
                                <th class="lang " rowspan="2" key="">
                                    <b>Nghỉ đặc biệt</b> <br />慶弔<br /> 休暇
                                </th>
                                <th class="lang" rowspan="2" key=""><b>Rmks</b></th>
                            </tr>
                            <tr>
                                <th class="text-center p-2" key="">
                                    <b>
                                        From <br />
                                        Từ ngày or giờ
                                    </b>
                                </th>
                                <th class="text-center p-2">
                                    <b>
                                        To <br />
                                        Đến ngày or giờ
                                    </b>
                                </th>
                                <th class="lang p-1" key=""> <b>Tổng ngày </b><br />日間</th>
                            </tr>
                            <tbody id="tableInfo">
                                @{
                                    for (int i = 1; i <= 1; i++)
                                    {
                                        <tr class="row-info">
                                            <td class="">@(i)</td>
                                            <td style="width:100px;">
                                                Phạm Thị Hằng
                                            </td>
                                            <td>
                                                U00001
                                            </td>
                                            <td>
                                                4/4/2022
                                            </td>
                                            <td>
                                                10/4/2022
                                            </td>
                                            <td>
                                                5
                                            </td>
                                            <td class="td2">
                                                Nghỉ 70% lương 70% lương 70% lương style="width:auto;" style="width:auto;" style="width:auto;" style="width:auto;"
                                                style="width:auto;" style="width:auto;" style="width:auto;"
                                            </td>
                                            <td class="text-center p-2" style="width:50px;">
                                                √
                                            </td>
                                            <td></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        <div id="contextMenu" class="dropdown clearfix">
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu"
                                style="display:block;position:static;margin-bottom:5px; color:red">
                                <li>
                                    <a tabindex="-1" href="javascript:void(0)" style="text-decoration:none;"
                                       class="text-muted ml-2"><i class="fas fa-plus"></i><span class="lang" key="add-row"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered ">
                        <thead>
                            <tr>
                                <th class="font-italic lang" rowspan="2"><span>1. </span><span class="lang" key="">リーダー</span><br /><b>Trưởng nhóm</b></th>
                                <th class="font-italic lang" rowspan="2"><span>2. </span><span class="lang" key="" placeholder="Phê duyệt">勤怠管理者 <br /><b>Quản lý ca bộ phận</b></span></th>
                                <th class="font-italic lang" rowspan="2"><span>3. </span><span class="lang" key="">部門長 <br /><b>Trưởng bộ phận</b></span></th>
                                <th class="font-italic lang" rowspan="2"><span>4. </span><span class="lang" key="">GA 部門長 <br /><b>Trưởng bộ phận GA</b></span></th>
                                <th class="font-italic lang" rowspan="2"><span>5. </span><span class="lang" key="">総務処理日時 <br /><b>Nhóm tính lương</b></span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr height="100px">
                                <td style="vertical-align: middle;" class="text-center"></td>
                                <td style="vertical-align: middle;" class="text-center"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr>
                <div class="col">
                    <p class="font-italic font-weight-bold row text-underline">Note</p>
                    <span class="border p-2 row" style="font-size:9px;">
                        1. Giấy đăng ký nghỉ gửi cho GA trước 17 giờ ngày hôm sau.
                        <br />
                        2. Để xử lý nhanh các dữ liệu liên quan đến tỷ lệ đi làm, tăng ca, đề nghị bộ phận gửi file mềm danh sách nghỉ theo địa chỉ email hiện tại cho GA.
                        <br />
                        3. Nội dung xin nghỉ cần ghi rõ lý do (lý do phải cụ thể)
                        <br />
                    </span>
                </div>
                <br />
            </div>
        </div>
    </div>
    <script src="~/Content/js/moment.js"></script>
    <script src="~/Content/js/lang.js"></script>
    <script src="~/Content/js/form_common.js"></script>
    <script src="~/Content/js/lca/form_lca.js"></script>
</body>
</html>
